@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 40% 98%; /* slate-50 */
        --foreground: 215 28% 17%; /* gray-800 */

        --card: 0 0% 100%;
        --card-foreground: 215 28% 17%; /* gray-800 */

        --popover: 0 0% 100%;
        --popover-foreground: 215 28% 17%; /* gray-800 */

        --primary: 221 83% 53%; /* blue-700 */
        --primary-foreground: 0 0% 100%;

        --secondary: 244 55% 59%; /* indigo-600 */
        --secondary-foreground: 0 0% 100%;

        --accent: 280 91% 65%; /* purple-500 */
        --accent-foreground: 0 0% 100%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215 16% 47%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214 100% 87%; /* blue-200 */
        --input: 214 100% 87%; /* blue-200 */
        --ring: 221 83% 53%; /* blue-700 */

        --radius: 0.5rem;
    }

    .dark {
        --background: 222 47% 11%; /* gray-900 */
        --foreground: 210 40% 98%; /* gray-300 */

        --card: 222 47% 11%;
        --card-foreground: 210 40% 98%;

        --popover: 222 47% 11%;
        --popover-foreground: 210 40% 98%;

        --primary: 221 83% 53%; /* blue-700 */
        --primary-foreground: 0 0% 100%;

        --secondary: 244 55% 59%; /* indigo-600 */
        --secondary-foreground: 0 0% 100%;

        --accent: 280 91% 65%; /* purple-500 */
        --accent-foreground: 0 0% 100%;

        --muted: 217 33% 17%;
        --muted-foreground: 215 20.2% 65.1%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217 33% 17%;
        --input: 217 33% 17%;
        --ring: 224 76% 48%; /* blue-900 */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
